html,body {
	height:100%;
}

header {
		
	display:block;
	background:#BCDC8A;
	padding:10px 0px;
}
nav {
	display:block;
	background:#DCBA8A;
	padding: 3px 3px;
}
section {
	width: 85%;
	background: #8ABADC;
	float: right;	
	overflow: auto;
	
}

aside {
	float: left;
	width: 15%;
}

footer {
	position: relative;
	margin-top: -50px;
	height: 40px; 
	padding:5px 0px;
	clear: both;
	background:#DCBA8A;
	text-align: center;
	color: #fff;
}
figure {
	display: table; margin: 0 auto;
}